<% provide(:title, "Thongtin") %>
<div class="container about">
  <h2 style="text-decoration: underline; text-align: center; color: rgb(51, 153, 102);">Quy định Đăng tin</h2>
  <p>   - Nghiêm cấm việc đặt tên tài khoản phản cảm, thô tục.</p>
  <p>   - Đăng tin đúng chuyên mục đúng khu vực.</p>
  <p>   - Tiêu đề và nội dung của tin đăng phải dùng tiếng Việt có dấu. Không được sử dụng từ ngữ thô tục, mất văn hoá.</p>
  <p>   - Những trường hợp cố tình spam, vi phạm nội quy nhiều lần thì chúng tôi sẽ đưa số điện thoại, địa chỉ và tất cả thông tin của bạn vào Danh sách Blacklist.</p>
  <p style="color: red; ">   * Tất cả tài khoản vi phạm quy định sẽ bị xóa mà không cần thông báo trước.</p>
  <p style="color: red; ">   * Chúng tôi không chịu trách nhiệm về nội dung các bài đăng trên website.</p>
</p>
</div>
