<div class="profile-sidebar">
  <div class="profile-userpic">
    <%= gravatar_for @user %>
  </div>
  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      <%= @user.name %>
    </div>
  </div>
  <div class="profile-usermenu">
    <ul class="nav">
      <li class="active">
        <a>
        <i class="glyphicon glyphicon-list-alt"></i>
        Articles List </a>
      </li>
      <li>
        <a href="/users/<%= @user.id %>/edit">
        <i class="glyphicon glyphicon-user"></i>
        Account Settings </a>
      </li>
      <li>
        <a href="/users/<%= @user.id %>/messages">
        <i class="glyphicon glyphicon-envelope"></i>
        Messages </a>
      </li>
    </ul>
  </div>
</div>