<%= link_to gravatar_for(current_user, size: 150), current_user %>
</br>
<p>Tên tài khoản:</p>
<strong><%= current_user.name %></strong>
<p>Điện thoại liên hệ:</p>
<strong><%= current_user.phone %></strong>
<br><br>
<span><%= pluralize(current_user.posts.count, "bài đăng") %></span>