<% provide(:title, "Trang chủ") %>
<%= render 'layouts/navigation' %>  
<div class="container">
  <div class="row" style="width: calc(100% - 28px);margin: 20px auto;float: none;">
    <div class="row jumbotron" style="padding: 20px; margin-bottom:5px">
      <%= render  'search' %>
    </div>
  </div>
  <div id="posts">
    <%= render 'posts' %>
  </div>
</div>