<div class="container">
  <div class="container-fluid">
    <div class="row jumbotron">
      <div class="col-md-5">
        <h1>Đăng tin cho thuê</h1>
        <p>Tìm phòng trọ miễn phí</p>
        <p>
          <%= link_to "Xem thêm »", about_path, class: "btn btn-lg btn-primary" %>
        </p>
      </div>
      <div class="col-md-7">
        <div class="carousel slide" id="carousel-35660">
          <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#carousel-35660">
            </li>
            <li data-slide-to="1" data-target="#carousel-35660">
            </li>
            <li data-slide-to="2" data-target="#carousel-35660">
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img alt="" src="image1.jpg" />
            </div>
            <div class="item">
              <img alt="" src="image2.jpg" />
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-35660" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-35660" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
